# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
.gradle-user-home/
build/

# Kotlin
.kotlin/

# Local config
local.properties

# NDK / C++
.externalNativeBuild/
.cxx/

# Captures
captures/

# OS files
.DS_Store
Thumbs.db
*.jks